%post-feed
  &:first-child
    margin-top: 76px
  header
    width: 100%
    display: table
    h1
      @extend %unstyled
      a
        @extend %reset-link
  p
    @extend %unstyled
    float: left
    margin-right: 10px
  footer
    float: left
