#post
  .content > article
    +span-columns(8)
    +shift(2)
    @extend %post-feed
    margin-bottom: 0
    header
      @extend %post-feed-title
    p
      font-size: rem(20px)
      line-height: rem(30px)
    footer
      .others-posts
        text-align: center
        margin: 35px 0 0 0
        a
          display: block
          margin-top: 5px
