<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ root_url }}/javascripts/libs/jquery.min.js"><\/script>')</script>

<script>
  $(function() {
    var element = $(".cover-image"),
        elementHeight = element.height(),
        steps = elementHeight / 10,
        startScroll = 0;

    $(window).on("scroll", function(a, b) {
      var self = $(this),
          count = Math.abs(self.scrollTop() - startScroll);

      if(self.scrollTop() >= startScroll && count < elementHeight) {
        var blur = count / steps,
            scale = blur >= 0 ? 1 + (blur / 5) * .1 : 1

        element.css({
          'filter'         : 'blur('+blur+'px)',
          '-webkit-filter' : 'blur('+blur+'px)',
          '-moz-filter'    : 'blur('+blur+'px)',
          '-o-filter'      : 'blur('+blur+'px)',
          '-ms-filter'     : 'blur('+blur+'px)',

          '-webkit-transform' : 'scale('+ scale +')',
          '-moz-transform'    : 'scale('+ scale +')',
          '-ms-transform'     : 'scale('+ scale +')',
          '-o-transform'      : 'scale('+ scale +')',
          'transform'         : 'scale('+ scale +')'
        });

        $("#header h2").css({
          'filter'         : 'blur('+blur+'px)',
          '-webkit-filter' : 'blur('+blur+'px)',
          '-moz-filter'    : 'blur('+blur+'px)',
          '-o-filter'      : 'blur('+blur+'px)',
          '-ms-filter'     : 'blur('+blur+'px)'
        });
      }
    });
  });
</script>

{% unless page.index %}
  {% include disqus.html %}
  {% include facebook_like.html %}
  {% include twitter_sharing.html %}

  {% comment %}
    Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
  {% endcomment %}
{% endunless %}
